body{
    background-color: #f7f6f6;
}
#book{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    .partOne{
        margin-top: 125px;
        .poTitle{
            color: #242424;
            font-size: 36px;
            
        }
        .poMoreData{
            margin-top: 35px;
            p{
                font-size: 14px;
                color: #595959;
            }
            p:nth-child(1){
                span{
                    color: #ff700c;
                    font-size: 36px;
                }
            }
            p:nth-child(2){
                margin-top: 24px;
                span{
                    color: #ff700c;
                }
            }
        }
    }
    .poSwiper{
        width: 100%;
        position: relative;
        .swiper-container{
            position: relative;
        }
        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            width: 44px;
            height: 85px;
            margin-top: -42.5px;
            z-index: 10;
            cursor: pointer;
            -moz-background-size: 44px 85px;
            -webkit-background-size: 44px 85px;
            background-size: 44px 85px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/book02.png);
            left: 0;
        }
        .swiper-button-prev {
            left: auto;
            right: 0;
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
        }
        .collected{
            position: absolute;
            top: 0;
            right: 0;
            width: 51px;
            z-index: 10;
        }
        .nowPay{
            position: absolute;
            line-height: 80px;
            width: 100%;
            font-size: 30px;
            color: #ffffff;
            bottom: 0;
            left: 0;
            background: url(../img/book03.png) no-repeat left top;
            background-size: 100% 100%;
            -webkit-background-size:100% 100%;
            text-align: center;
            z-index: 50;
        }
        .nPay{
            top: 0;
            bottom: auto;
            position: fixed;
        }
        img{
            width: 100%;
        }
    }
    .partTwo{
        text-align: center;
        span{
            line-height: 180px; 
            color: #aaadae;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            
        }
        span::after{
            position: absolute;
            right: 108%;
            content: "";
            top: 50%;
            margin-top: -32.5px;
            width: 65px;
            height: 65px;
            background: url(../img/book04.png) no-repeat left top;
        }
    }
    .partTwo:nth-child(3){
        span::after{
            width: 62px;
            height: 62px;
            margin-top: -31px;
            background-image: url(../img/book05.png);
        }
    }
    .partTwo:nth-child(4){
        span::after{
            width: 69px;
            height: 60px;
            margin-top: -34.5px;
            background-image: url(../img/book06.png);
        }
    }
}
.mbTitle {
    width: 100%;
    color: #121212;
    font-size: 36px;
    text-align: center;
    line-height: 70px;
    position: relative;
    margin-top: 70px;
}

.mbTitle::before,
.mbTitle::after {
    content: "";
    position: absolute;
    left: 0;
    width: 40%;
    top: 50%;
    margin-top: -3px;
    height: 6px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.mbTitle::after {
    left: auto;
    right: 0;
}
.partThree{
    margin-bottom: 60px;
    .ptOut{
        width: 420px;
        margin: 40px auto 0;
        .ptIn{
            width: 100%;
            position: relative;
            margin-left: 60px;
            ul li:nth-child(1){
                font-size: 30px;
                color: #55c891;
                line-height: 42px;
                margin-bottom: 20px;
            }
            ul li:nth-child(2){
                font-size: 18px;
                color: #6d6d6d;
                font-weight: lighter;
                line-height: 36px;
            }
            span{
                display: block;
                width: 45px;
                height: 45px;
                background-color:#d2d2d2 ;
                border-radius: 50%;
                text-align: center;
                font-size: 26px;
                color: white;
                line-height: 45px;
                position: absolute;
                left: -60px;
                top: 0;
            }
        }
    }
}
#book2{
    width: 100%;
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
    }
    .bookTwo{
        
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        .bTwoTitle{
            margin-top: 6%;
            display:inline-block;
            >p{
                font-size: 36px;
                color: #55c891;
                margin-bottom: 10px;
                display: inline-block;
            }
            
        }
        .bTwoContent{
            opacity: 0;
            color: rgba(255,255,255,0.79);
            font-size: 18px;
            line-height: 36px;
            text-align: justify;
            font-weight: lighter;
        }
    }
    .bookTwoBack{
        background-color: rgba(0,0,0,0.61);
    }
    .leftRight{
        width: 100%;
        position: absolute;
        top: 50%;
        margin-top: -42.5px;
        left: 0;
        z-index: 10;
        height: 85px;
        .row{
            position: relative;
        }
        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            top: 0;
            width: 44px;
            height: 85px;
            margin-top: 0px;
            left: -44px;
            z-index: 10;
            cursor: pointer;
            -moz-background-size: 44px 85px;
            -webkit-background-size: 44px 85px;
            background-size: 44px 85px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/book02.png);
        }
        .swiper-button-prev {
            left: auto;
            right: -44px;
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
        }
    }
}
#book2:hover .bookTwo{
    display: block;
}
#book3{
    margin-top: 10px;
   width: 100%;
   background-color: white;
   .row{
       border-bottom: 1px solid #eeeeee;
       border-top: 1px solid #eeeeee;
   }
   a{
       width: 16.666%;
       height: 76px;
       float: left;
       text-align: center;
       line-height: 76px;
       color: #525252;
       font-size: 18px;
       display: block;
       background-color: transparent;
   }
   .btnChoice{
       background-color: #f7f6f6;
       position: relative;
   }
   .btnChoice::before{
       content: "";
       position: absolute;
       top: 0px;
       left: 0;
       width: 100%;
       border-top: 8px solid #55c891;
   }
   .btnChoice::after{
       content: "";
       position: absolute;
       bottom: -1px;
       left: 0;
       width: 100%;
       border-top: 2px solid #f7f6f6;
   }
}
.book3{
    position: fixed!important;
    top: 70px!important;
    z-index: 1000;
}
#book4{    
    margin-top: 40px;
    .container{
        overflow: hidden;
    }
}
.titleBox {
    width: 100%;
    height: 64px;
    background: url(../img/book08.png) no-repeat left top;
    background-size: auto 100%;
    line-height: 64px;
    font-size: 24px;
    font-weight: bold;
    color: #242424;
    text-indent: 15px;
    background-color: white;
    p {
        position: relative;
    }
    p::before {
        content: "";
        position: absolute;
        top: 14px;
        left: 0px;
        height: 36px;
        border-left: 3px solid #55c891;
    }
}
.day{
    margin-top: 30px;
    font-size: 24px;
    color: #8b8b8b;
    margin-bottom: 10px;
    span{
        color: #55c891;
    }
}
.dayIntro{
    color: #6d6d6d;
    line-height: 36px;
    font-size: 18px;
    text-align: justify;
}
.dayImg{
    width: 100%;
    margin-top: 10px;
    img{
        width: 100%;
    }
}
.fly{
    width: 100%;
    position: relative;
    margin-top: 5px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #eeeded;
    p:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/book10.png)  no-repeat left 6px;
        padding-left: 46px;
    }
    p:nth-child(3){
        position: absolute;
        top: 0;
        right: 0;
        background: url(../img/book12.png)  no-repeat left 8px;
        padding-left: 40px;
    }
    p{
        font-size: 20px;
        color: #767676;
        text-align: center;
        padding-top: 15px;
        span{
            position: relative;
            
        }
        span::after{
            content: "";
            right: 110%;
            position: absolute;
            width: 41px;
            height: 38px;
            top: -13px;
            background: url(../img/book11.png)  no-repeat left top;
            background-size: 100% 100%;
        }
    }
}
.number{
    position: absolute;
    top: 0;
    left: -96px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    background-color: #000000;
    text-align: center;
    display: block;
    text-align: center;
    line-height: 57px;
}
.introBox{
    position: relative;
}
.book4{
    position: relative;
    
}
.bc{
    margin-bottom: 60px;
    ul{
        margin: 30px 0 0;
    }
    ul li{
        list-style: disc;
        list-style-position: inside;
        font-size: 18px;
        color: #6d6d6d;
        line-height: 36px;
    }
}
.book44{
    position: absolute;
    top: 30px;
    left: -53px;
    height: 100%;
    border-left: 1px solid #c9c9c9;
}
.bookContent{
    padding:30px 0 0px;
    font-size: 18px;
    color: #6d6d6d;
    line-height: 36px;
}
.map{
    width: 100%;
    margin: 20px 0;
    >img{
        width: 100%;
    }
}
#mask{
    position: fixed;
    background: rgba(0,0,0,0.61);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
#popWin{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -295px;
    width: 1200px;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
    padding-bottom: 24px;
    .pTitle {
        line-height: 108px;
        font-size: 36px;
        text-align: center;
    }
    .popMsg{
        width: 1141px;
        margin: -1px auto;
        background: #f3fbf7;
        border: 1px solid #f4f4f4;
        border-top: 0;
        p{
            font-size: 24px;
            line-height: 72px;
            text-indent: 10px;
        }
        p:nth-child(3){
            font-size: 36px;
            color: #55c891;
            margin-right: 40px;
        }
        button{
            height: 50px;
            margin: 13px 0;
            width: 190px;
            border-radius: 8px;
            color: white;
            background-color: #55c891;
            font-size: 24px;
            margin-right: 10px;
        }
    }
    .popWin{
        width: 1140px;
        margin: 0 auto;
        table{
            width: 560px;
            position: relative;
            tr:nth-child(1){
                text-align: center;
                font-size: 18px;
                color: #1d2022;
                line-height: 44px;
            }
            tr:nth-child(2){
                text-align: center;
                font-size: 12px;
                color: #1d2022;
                line-height: 22px;
            }
            td{
                width: 80px;
                border: 2px solid #f4f4f4;
                >div{
                    width: 100%;
                    height: 50px;
                    position: relative;
                    p{
                        font-size: 12px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-indent: 5px;
                        line-height: 28px;
                        color: #cccbcf;
                    }
                    p:nth-child(2){
                        left: auto;
                        right: 2px;
                        line-height: 2;
                        color: #ff975f;
                    }
                    p:nth-child(3){
                        top: auto;
                        bottom: 0;
                        color: #55c891;
                    }
                }
                >.divhas{
                    background-color: #fcfcfc;
                    cursor: pointer;
                    cursor: -ms-pointer;
                    p:nth-child(1){
                        color: #454747;
                    }
                }
                >.divhas:hover{
                    background-color: #55c891;
                    p{
                        color: white;
                    }
                }
                >.choiced{
                    background-color: #55c891;
                    p{
                        color: white!important;
                    }
                }
            }
        }
        table:nth-child(1)::before{
            position: absolute;
            top: 0;
            right: -20px;
            width: 20px;
            content: "";
            border-top: 2px solid #f4f4f4;
        }
        table:nth-child(1)::after{
            position: absolute;
            bottom: 0;
            right: -20px;
            width: 20px;
            content: "";
            border-bottom: 2px solid #f4f4f4;
        }
    }
}
