body {
  background-color: #f7f6f6; }

header .banner {
  position: relative;
  width: 100%;
  margin-bottom: 500px; }
  header .banner img {
    width: 100%; }
  header .banner .bannerDetails {
    position: absolute;
    bottom: 23%;
    left: 50%;
    margin-left: -325px;
    width: 650px; }
    header .banner .bannerDetails > div p {
      text-align: justify; }
    header .banner .bannerDetails .bdType {
      font-size: 24px; }
      header .banner .bannerDetails .bdType a {
        color: #f7f6f6;
        font-weight: lighter;
        position: relative;
        display: inline-block; }
      header .banner .bannerDetails .bdType a::before {
        width: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid white; }
    header .banner .bannerDetails .bdTitle {
      font-size: 48px;
      color: white;
      font-weight: bold;
      line-height: 72px; }
    header .banner .bannerDetails .bdcContent {
      margin-top: 20px;
      font-size: 18px;
      line-height: 30px;
      color: white;
      letter-spacing: 1px; }
      header .banner .bannerDetails .bdcContent p {
        font-weight: lighter; }
  header .banner .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    border: 2px solid #9ea2a8;
    background-color: transparent; }
  header .banner .swiper-pagination-bullet-active {
    background-color: #9ea2a8; }
  header .banner .swiper-container-horizontal > .swiper-pagination-bullets, header .banner .swiper-pagination-custom, header .banner .swiper-pagination-fraction {
    bottom: 10%; }

#pickUp {
  margin-bottom: 40px; }

.sc-list3 {
  margin-bottom: 80px; }

.sc-list3:nth-last-child(1) {
  margin-bottom: 0px; }

.sc-list3 .list3-col .list3-img {
  width: 100%; }

.sc-list3 .list3-col a {
  display: block; }

.sc-list3 .list3-col .list3-wrap span {
  text-align: center;
  display: block; }

.sc-list3 .list3-col .list3-wrap .list3-title {
  font-size: 20px;
  color: #626262;
  font-weight: bold;
  padding: 14px 13px; }

.sc-list3 .list3-col .list3-wrap .list3-cont {
  font-size: 16px;
  color: #626262;
  font-weight: lighter;
  padding: 0 9px; }

#recommend {
  width: 100%;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  padding-bottom: 40px; }
  #recommend .mbList {
    font-size: 18px;
    line-height: 58px; }
    #recommend .mbList a {
      display: block;
      width: 100%;
      color: #121212;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      #recommend .mbList a i {
        color: #55c891;
        font-weight: bold; }
    #recommend .mbList a:hover {
      color: #55c891; }

.mbTitle {
  width: 100%;
  color: #121212;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 70px;
  position: relative; }

.mbTitle::before,
.mbTitle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 32%;
  top: 50%;
  margin-top: -3px;
  height: 6px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0; }

.mbTitle::after {
  left: auto;
  right: 0; }

.spTitle {
  margin: 60px 0;
  font-size: 50px;
  font-family: 'hlh'; }

.whatNew .sc-list3 .list3-col .list3-wrap .list3-title {
  padding: 14px 80px;
  font-size: 32px; }
.whatNew .sc-list3 .list3-col .list3-wrap .list3-cont {
  padding: 0 58px;
  line-height: 24px;
  letter-spacing: 1px; }
.whatNew .list3-wrap {
  position: relative; }
  .whatNew .list3-wrap .labels {
    position: absolute;
    left: 2px;
    top: 18px;
    color: #626262;
    display: inline-block;
    font-size: 16px;
    font-weight: lighter; }
  .whatNew .list3-wrap .labels::after {
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 0;
    border-bottom: 1px solid #b6b5b5; }

#tourist img {
  width: 100%; }
#tourist .swiper-button-next, #tourist .swiper-button-prev {
  background: url(../img/infor03.png);
  width: 62px;
  height: 62px;
  margin-top: -31px;
  -moz-background-size: 62px 62px;
  -webkit-background-size: 62px 62px;
  background-size: 62px 62px; }
#tourist .swiper-button-next {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }

#whatNew1 a {
  margin-bottom: 40px; }
#whatNew1 .wnLeft {
  width: 160px;
  height: 160px;
  margin-top: 10px;
  position: relative; }
  #whatNew1 .wnLeft .wnlImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden; }
  #whatNew1 .wnLeft span {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: relative;
    background-color: #e73333;
    text-align: center;
    text-indent: -4%;
    line-height: 52px;
    position: absolute;
    top: 0px;
    left: -10px;
    font-size: 30px;
    color: white; }
#whatNew1 .wnRight {
  width: 375px;
  margin-left: 20px;
  text-align: justify; }
  #whatNew1 .wnRight span {
    position: relative;
    color: #626262;
    display: inline-block;
    font-size: 16px;
    font-weight: lighter; }
  #whatNew1 .wnRight span::after {
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 0;
    border-bottom: 1px solid #b6b5b5; }
  #whatNew1 .wnRight .wnrTitle {
    font-size: 32px;
    color: #626262;
    font-weight: bold;
    margin: 10px 0; }
  #whatNew1 .wnRight .wnrContent {
    font-size: 16px;
    line-height: 24px;
    color: #626262;
    font-weight: lighter; }

.today {
  margin-top: 20px;
  position: relative; }
  .today img {
    width: 100%; }
  .today span {
    position: absolute;
    left: 35px;
    top: 22px;
    color: #f7f6f6;
    display: inline-block;
    font-size: 18px;
    font-weight: lighter; }
  .today span::after {
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 0;
    border-bottom: 1px solid #f7f6f6; }
  .today p {
    position: absolute;
    margin-left: -380px;
    left: 50%;
    bottom: 22px;
    width: 760px;
    color: #f7f6f6;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: lighter; }

#whatTwo {
  position: absolute;
  width: 100%;
  top: 95%;
  z-index: 5; }

.swiper-container-tour {
  position: relative; }
  .swiper-container-tour .tourName {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0; }
    .swiper-container-tour .tourName .mbTitle {
      color: white;
      font-size: 55px; }
  .swiper-container-tour .tourContent {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0; }
    .swiper-container-tour .tourContent ul li:nth-child(1) {
      font-size: 60px;
      color: white;
      text-align: center;
      font-weight: bold;
      line-height: 80px;
      margin-bottom: 10px; }
    .swiper-container-tour .tourContent ul li:nth-child(2) {
      font-size: 30px;
      line-height: 46px;
      font-weight: lighter;
      color: white;
      text-align: center; }

/*# sourceMappingURL=infor.css.map */
