body {
  background-color: #f2f2f2!important;
}
.header .header-1 {
  margin-bottom: 20px;
}
.header .header-1 .swiper-container {
  width: 100%;
}
.header .header-1 .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.header .header-1 .swiper-container .swiper-pagination {
  bottom: 30px;
}
.header .header-1 .swiper-container .swiper-pagination-bullet {
  width: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #55c891;
  opacity: 1;
  margin: 0 10px;
}
.header .header-1 .swiper-container .swiper-pagination-bullet-active {
  background-color: #55c891;
}
.header .header-2 {
  background-color: #fff;
}
.header .header-2 > div {
  width: 1200px;
  margin: 0 auto;
}
.header .header-2 > div > div {
  float: left;
  width: 10%;
  height: 120px;
  text-align: center;
  padding: 20px 0;
  margin: 10px 0;
}
.header .header-2 > div > div .h2-icon {
  width: 100%;
  height: 50px;
}
.header .header-2 > div > div .h2-icon img {
  display: inline-block;
}
.header .header-2 > div > div span {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  color: #333333;
}
.header .header-2 > div > div:hover {
  background-color: #d3ffea;
}
.con-wrap .wrap {
  width: 1200px;
  margin: 20px auto 150px;
}
.con-wrap .wrap .wrap-list1 {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 30px 0;
}
.con-wrap .wrap .wrap-list1 .shu {
  display: inline-block;
  width: 5px;
  height: 40px;
  background-color: #ff9242;
  position: relative;
  top: 7px;
  left: -5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.con-wrap .wrap .wrap-list1 .L1-title {
  font-size: 36px;
  color: #333333;
}
.con-wrap .wrap .wrap-list2 {
  position: relative;
  margin-bottom: 60px;
}
.con-wrap .wrap .wrap-list2 #swiper2 {
  width: 1200px;
  height: 440px;
  padding: 20px 0;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide {
  background-color: #fff;
  cursor: pointer;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide .slide-top {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide .slide-top img {
  display: inline-block;
  width: 225px;
  height: 215px;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide .slide-bottom {
  text-align: center;
  font-size: 16px;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide .slide-bottom > div {
  margin: 10px 0;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide .slide-bottom .bottom-1 {
  font-weight: bold;
  color: #383838;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide .slide-bottom .bottom-2 {
  color: #707070;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide .slide-bottom .bottom-3 {
  color: #b2b2b2;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide .slide-bottom .bottom-3 span {
  display: inline-block;
  border: 1px solid #e0e0e0;
  padding: 2px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide .slide-bottom .bottom-4 {
  color: #e3a142;
}
.con-wrap .wrap .wrap-list2 #swiper2 .swiper-wrapper .swiper-slide:hover {
  -webkit-box-shadow: 0px 0px 20px gray;
  -moz-box-shadow: 0px 0px 20px gray;
  box-shadow: 0px 0px 20px gray;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.con-wrap .wrap .wrap-list2 .page1 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 220px;
  left: -90px;
}
.con-wrap .wrap .wrap-list2 .page2 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 220px;
  right: -90px;
  transform: rotateZ(180deg);
}
.con-wrap .wrap .wrap-list3 {
  width: 1170px;
  position: relative;
  margin-bottom: 50px;
}
.con-wrap .wrap .wrap-list3 .list-left {
  position: relative;
  width: 23%;
  display: inline-block;
}
.con-wrap .wrap .wrap-list3 .list-left > div {
  position: absolute;
}
.con-wrap .wrap .wrap-list3 .list-left .left-1 {
  top: 0;
  font-size: 36px;
  color: #333333;
  width: 100%;
  text-align: center;
  padding: 35px 0;
}
.con-wrap .wrap .wrap-list3 .list-left .left-2 {
  bottom: 0;
  width: 98%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.con-wrap .wrap .wrap-list3 .list-left .left-2 a {
  font-size: 18px;
  color: #333333;
  padding: 15px;
}
.con-wrap .wrap .wrap-list3 .list-right {
  position: absolute;
  right: 5px;
  width: 77%;
  height: 100%;
  top: 0;
  background-color: #fff;
}
.con-wrap .wrap .wrap-list3 .list-right > div {
  width: 100%;
  height: 50%;
  text-align: center;
  font-size: 16px;
  color: #606060;
}
.con-wrap .wrap .wrap-list3 .list-right > div .r1-1 {
  float: left;
  width: 33.3%;
  height: 100%;
  padding-top: 50px;
}
.con-wrap .wrap .wrap-list3 .list-right > div .r1-1 .r1-top {
  width: 100%;
  height: 147px;
  text-align: center;
}
.con-wrap .wrap .wrap-list3 .list-right > div .r1-1 .r1-top img {
  display: inline-block;
  height: 90%;
}
.con-wrap .wrap .wrap-list3 .list-right > div .r1-1 .r1-bottom .bt-1 {
  padding: 20px 47px;
}
.con-wrap .wrap .wrap-list3 .list-right > div .r1-1 .r1-bottom .bt-2 {
  font-size: 18px;
  color: #606060;
}
.con-wrap .wrap .wrap-list3 .list-right > div .r1-1:hover {
  border: 1px solid #bdbdbd;
}
.con-wrap .wrap .right-list {
  position: fixed;
  top: 50%;
  margin-top: -380px;
  right: 15%;
  z-index: 100;
}
.con-wrap .wrap .right-list > div > div {
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  padding: 20px;
  background-color: #fff;
}
.con-wrap .wrap .right-list > div > div a {
  text-align: center;
  font-size: 16px;
  color: #333333;
}
.con-wrap .wrap .right-list > div > div:hover {
  background-color: #55C891;
}
.con-wrap .wrap .right-list > div > div:hover a {
  color: #fff;
}
.con-wrap .wrap .right-list .toTop {
  padding: 0;
  margin: 19px 9px 0;
  background-color: transparent;
}
.con-wrap .wrap .right-list .toTop a {
  display: block;
}
@media (max-width: 1660px) {
  .con-wrap .wrap .right-list {
    right: 9%;
  }
}
@media (max-width: 1440px) {
  .con-wrap .wrap .right-list {
    right: 3%;
  }
}
@media (max-width: 1336px) {
  .con-wrap .wrap .right-list {
    right: 0.2%;
  }
}
