#con-wrap .row .con-right .right-wrap .wrap-list1 {
  font-size: 24px;
  color: #626262;
  font-weight: bold;
  margin: 80px 0 20px 0;
}
#con-wrap .row .con-right .right-wrap .wrap-list2 table {
  color: #626262;
  margin: 0;
}
#con-wrap .row .con-right .right-wrap .wrap-list2 table th {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
#con-wrap .row .con-right .right-wrap .wrap-list2 table td {
  text-align: center;
  font-size: 18px;
}
#con-wrap .row .con-right .right-wrap .wrap-list2 table .row1 {
  background-color: #f9f9f9;
}
#con-wrap .row .con-right .right-wrap .wrap-list2 table .row2 {
  background-color: #eaf8f2;
}
.wrap-list2{
	margin-bottom: 40px;
}
