.layui-table thead tr:nth-child(1){
	border-bottom:0px;
}
.layui-table tr{
	border-bottom: 1px dashed #e4e4e4;
}
.wrap-list2{
	margin-bottom: 50px;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-top {
  color: #55c891;
  font-size: 18px;
  border-bottom: 5px solid #55c891;
  position: relative;
  margin-top: 50px;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-top .l1top2 {
  text-align: right;
  font-size: 14px;
  padding: 5px;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-top .sanjiao {
  padding: 0;
  margin: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #55c891;
  width: 7px;
  position: absolute;
  left: 20px;
  bottom: 0;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-middle {
  position: relative;
  margin: 15px 0px;
  border-bottom: 1px dotted #eeeeee;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-middle .l1mid1 {
  display: inline-block;
  font-size: 18px;
  margin: 20px;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-middle .l1mid1 .fen {
  color: #ff6d00;
  font-size: 30px;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-middle .l1mid2 {
  background-color: #55c891;
  width: 20%;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  float: right;
  margin: 30px 30px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-bottom {
  color: #55c891;
  font-size: 18px;
  border-bottom: 5px solid #55c891;
  position: relative;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-bottom .l1top2 {
  text-align: right;
  font-size: 14px;
  padding: 5px;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-bottom .sanjiao {
  padding: 0;
  margin: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #55c891;
  width: 7px;
  position: absolute;
  left: 20px;
  bottom: 0;
}
#con-wrap .row .con-right .right-wrap .wrap-list1 .list1-bottom :first-child {
  margin: 0 0 27px 0;
}
#con-wrap .row .con-right .right-wrap .wrap-list2 table {
  margin-top: 20px;
}
#con-wrap .row .con-right .right-wrap .wrap-list2 table thead th {
  font-size: 14px;
  color: #a1a1a1;
}
#con-wrap .row .con-right .right-wrap .wrap-list2 table th {
  text-align: center;
  font-size: 14px;
  color: #a1a1a1;
}
