body {
  background-color: #f7f6f6!important;
  font-size: 62.5%;
}
#con-wrap .row .con-left {
  background-color: #ebeef5;
  padding: 0;
  border: 1px solid #dddfe3;
  height: 60%;
}
#con-wrap .row .con-left .left-list1 {
  padding: 20px 0 0 0;
}
#con-wrap .row .con-left .left-list1 .head-wrap {
  width: 65%;
  height: 125px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
  -webkit-box-shadow: -2px 2px 5px #dddfe3;
  -moz-box-shadow: -2px 2px 5px #dddfe3;
  box-shadow: -2px 2px 5px #dddfe3;
}
#con-wrap .row .con-left .left-list1 .head-wrap .head {
  width: 93%;
  position: absolute;
  top: 4px;
  left: 4.5px;
}
#con-wrap .row .con-left .left-list1 .perGrade {
  overflow: hidden;
  margin: 0 15px;
}
#con-wrap .row .con-left .left-list1 .perGrade > span {
  color: #535566;
  float: left;
  font-size: 14px;
}
#con-wrap .row .con-left .left-list1 .perGrade .line {
  float: left;
  background-color: #6b6d72;
  width: 68%;
  height: 2px;
  position: relative;
  top: 8px;
  margin: 0 6px;
}
#con-wrap .row .con-left .left-list1 .perGrade .line .line-ing {
  width: 26%;
  height: 2px;
  background-color: #55c891;
}
#con-wrap .row .con-left .left-list1 .perGrade .line span.cir {
  width: 7px;
  height: 7px;
  display: block;
  background-color: #6b6d72;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  top: -3px;
}
#con-wrap .row .con-left .left-list1 .perGrade .line span.cir-sel {
  background-color: #55c891;
}
#con-wrap .row .con-left .left-list1 .perGrade .line .cir2 {
  left: 32%;
}
#con-wrap .row .con-left .left-list1 .perGrade .line .cir3 {
  left: 65%;
}
#con-wrap .row .con-left .left-list1 .perGrade .line .cir4 {
  left: 98%;
}
#con-wrap .row .con-left .left-list1 .perGrade .line .dName {
  color: #6b6d72;
  font-size: 10.5px;
  position: absolute;
  top: 6px;
}
#con-wrap .row .con-left .left-list1 .perGrade .line .d2 {
  left: 30%;
}
#con-wrap .row .con-left .left-list1 .perGrade .line .d3 {
  left: 63%;
}
#con-wrap .row .con-left .left-list1 .perGrade .line .d4 {
  left: 90%;
}
#con-wrap .row .con-left .left-list1 .perGrade .line div.d-sel {
  color: #55c891;
}
#con-wrap .row .con-left .left-list1 .perInte {
  font-size: 17px;
  color: #55c891;
  text-align: center;
}
#con-wrap .row .con-left .left-list2 {
  width: 100%;
  padding: 0;
  margin-bottom: 160px;
}
#con-wrap .row .con-left .left-list2 li {
  color: #9fa2ac;
  font-size: 14px;
  padding: 13px 20px;
}
#con-wrap .row .con-left .left-list2 li span {
  float: right;
}
#con-wrap .row .con-left .left-list2 li.sel {
  background-color: #fff;
}
#con-wrap .row .con-right {
  background-color: #fff;
  color: #686868;
  padding: 20px;
  border: 1px solid #dddfe3;
}
#con-wrap .row .con-right .right-list1 div {
  font-size: 18px;
}
#con-wrap .row .con-right .right-list1 div div {
  border-bottom: 3px solid #55c891;
  width: 72px;
  padding: 5px 0;
}
#con-wrap .row .con-right .right-list2 {
  font-size: 14px;
  background-color: #f5f5f5;
  margin: 20px 0px;
}
#con-wrap .row .con-right .right-list2 .container {
  width: 55%;
  margin-left: 0;
}
#con-wrap .row .con-right .right-list2 .container .list2-db div {
  text-align: center;
  padding: 10px;
}
#con-wrap .row .con-right .right-list2 .container .list2-db div.sel {
  background-color: #dcdcdc;
}
#con-wrap .row .con-right .right-list3 div .list3-cont {
  width: 60%;
  float: right;
  margin-top: 80px;
  margin-bottom: 100px;
  position: relative;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-title {
  font-size: 18px;
  margin: 10px 0;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-list2 {
  border: 1px solid #d5d5d5;
  padding: 8px 5px;
  margin-bottom: 45px;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-list2 input {
  border: 0;
  font-size: 14px;
  font-weight: 100;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-list2 div {
  float: right;
  border: 1px solid #d5d5d5;
  font-size: 14px;
  padding: 0 10px;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-list4 input {
  width: 100%;
  border: 1px solid #d5d5d5;
  padding: 8px 5px;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .suc {
  width: 50%;
  font-size: 24px;
  padding: 5px 30px;
  background-color: #55c891;
  text-align: center;
  color: #fff;
  float: right;
  margin: 100px 50px;
}
