.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
#con-wrap .row .con-right .right-wrap .right-list1 {
  border-bottom: 1px dotted #eeeeee;
  padding: 40px 0;
}
#con-wrap .row .con-right .right-wrap .right-list1 table {
  margin: 0;
}
#con-wrap .row .con-right .right-wrap .right-list1 table .row1-title {
  text-align: left!important;
  font-weight: bold;
  font-size: 18px;
}
#con-wrap .row .con-right .right-wrap .right-list1 .table1 th {
  border-bottom: 0;
  text-align: center;
  font-size: 18px;
}
#con-wrap .row .con-right .right-wrap .right-list1 .table1 .col-boo {
  color: #55c891;
}
#con-wrap .row .con-right .right-wrap .right-list1 .table2 th {
  text-align: center;
  font-size: 18px;
}
#con-wrap .row .con-right .right-wrap .right-list1 .table2 .col-boo3 {
  font-size: 14px;
  color: #626262;
}
#con-wrap .row .con-right .right-wrap .right-list1 .title1 {
  font-size: 24px;
  color: #626262;
  font-weight: bold;
  margin: 0 0 25px 0;
}
#con-wrap .row .con-right .right-wrap .right-list2 {
  border-bottom: 0;
}
#con-wrap .row .con-right .right-wrap .right-list2 p {
  font-size: 18px;
  color: #626262;
  line-height: 40px;
}
