#con-wrap .row .con-right .right-list1 div {
  font-size: 18px;
}
#con-wrap .row .con-right .right-list1 div div {
  border-bottom: 3px solid #55c891;
  width: 72px;
  padding: 5px 0;
  margin-top: 40px;
}
#con-wrap .row .con-right .right-list2 {
  font-size: 14px;
  background-color: #f5f5f5;
  margin: 20px 0px;
}
#con-wrap .row .con-right .right-list2 .container {
  width: 55%;
  margin-left: 0;
}
#con-wrap .row .con-right .right-list2 .container .list2-db div {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
#con-wrap .row .con-right .right-list2 .container .list2-db div.sel {
  background-color: #dcdcdc;
}
#con-wrap .row .con-right .right-list3 {
  display: none;
}
#con-wrap .row .con-right .right-list3 div .list3-cont {
  width: 70%;
  margin-right: 10px;
  float: right;
  margin-top: 80px;
  margin-bottom: 100px;
  position: relative;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-title {
  font-size: 18px;
  margin: 10px 0;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-list2 {
  border: 1px solid #d5d5d5;
  padding: 8px 5px;
  margin-bottom: 30px;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-list2 input {
  border: 0;
  font-size: 14px;
  font-weight: 100;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-list2 div {
  float: right;
  border: 1px solid #d5d5d5;
  font-size: 14px;
  padding: 0 10px;
  cursor: pointer;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-list2 div.list3-btn1 {
  float: right;
  border: 1px solid #d5d5d5;
  font-size: 14px;
  padding: 2px 10px;
  cursor: pointer;
  margin-top: -3px;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .cont-list4 input {
  width: 100%;
  border: 1px solid #d5d5d5;
  padding: 8px 5px;
  margin-bottom: 30px;
}
#con-wrap .row .con-right .right-list3 div .list3-cont .suc {
  font-size: 24px;
  background-color: #55c891;
  color: #fff;
  float: right;
  width: 146px;
  height: 50px;
  margin: 30px 50px;
  cursor: pointer;
}
#con-wrap .row .con-right .right-list6 {
  display: none;
}
#con-wrap .row .con-right .right-list6 div .list3-cont {
  width: 70%;
  float: right;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 20px;
  position: relative;
}
#con-wrap .row .con-right .right-list6 div .list3-cont .cont-title {
  font-size: 18px;
  margin: 10px 0;
}
#con-wrap .row .con-right .right-list6 div .list3-cont .cont-list2 {
  border: 1px solid #d5d5d5;
  padding: 8px 5px;
  margin-bottom: 30px;
}
#con-wrap .row .con-right .right-list6 div .list3-cont .cont-list2 input {
  border: 0;
  font-size: 14px;
  font-weight: 100;
}
#con-wrap .row .con-right .right-list6 div .list3-cont .cont-list2 div {
  float: right;
  border: 1px solid #d5d5d5;
  font-size: 14px;
  padding: 0 10px;
}
#con-wrap .row .con-right .right-list6 div .list3-cont .cont-list4 input {
  width: 100%;
  border: 1px solid #d5d5d5;
  padding: 8px 5px;
  margin-bottom: 30px;
}
#con-wrap .row .con-right .right-list6 div .list3-cont .suc {
  width: 146px;
  height: 50px;
  font-size: 24px;
  background-color: #55c891;
  color: #fff;
  float: right;
  margin-right: 80px;
}
#con-wrap .row .con-right .right-list4 .layui-form .layui-form-label {
  padding: 9px 0px;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d1 div button {
  background-color: #55c891;
  margin-left: 30px;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d2 {
  width: 260px;
  margin-left: 110px!important;
  height: 250px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  position: relative;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d2 > .specail {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d2 > .specail > img {
  width: 100%;
  position: relative;
  margin: 0;
  left: 0;
  top: 0;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d2 > div {
  width: 100%;
  height: 80%;
  position: relative;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d2 > div > img {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -40px;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d2 span {
  display: block;
  font-size: 14px;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d3 .layui-form-item {
  width: 500px;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d5 {
  margin-bottom: 20px;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d5 .layui-form-label {
  margin-left: 10px;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d5 .layui-inline {
  margin-left: 18px;
  width: 116px;
}
#con-wrap .row .con-right .right-list4 .layui-form .list4-d5 .layui-form-item {
  width: 250px;
}
#con-wrap .row .con-right .right-list5 {
  display: none;
}
#con-wrap .row .con-right .right-list5 .list5-d1 {
  text-align: center;
  margin: 30px 0 50px 15px;
  cursor: pointer;
}
#con-wrap .row .con-right .right-list5 .list5-d1 div {
  background-color: #eeeeee;
  padding: 6px 0;
  font-size: 18px;
  border: 1px solid #e0e0e0;
}
#con-wrap .row .con-right .right-list5 .list5-d1 div.sel {
  background-color: #e5e5e5;
}
#con-wrap .row .con-right .right-list5 .chinese {
  display: block;
}
#con-wrap .row .con-right .right-list5 .chinese .layui-form input {
  display: block;
  margin-left: 15px;
  width: 315px;
  padding: 7px 10px;
  margin-bottom: 35px;
  font-size: 14px;
}
#con-wrap .row .con-right .right-list5 .chinese .layui-form .form-list3 {
  position: relative;
  width: 315px;
}
#con-wrap .row .con-right .right-list5 .chinese .layui-form .form-list3 div.list3-btn {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 10px;
  background-color: #55c891;
  cursor: pointer;
  color: #fff;
}
#con-wrap .row .con-right .right-list5 .chinese .layui-form .form-list4 div button {
  width: 100px;
  height: 40px;
  font-size: 24px;
  background-color: #55c891;
}
#con-wrap .row .con-right .right-list5 .other {
  display: none;
}
#con-wrap .row .con-right .right-list5 .other .layui-form input {
  display: block;
  margin-left: 15px;
  width: 315px;
  padding: 7px 10px;
  margin-bottom: 35px;
  font-size: 14px;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list1 {
  color: #2b2b2b;
  margin: 5px 0 10px 15px;
  font-size: 16px;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list3 {
  position: relative;
  width: 315px;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list3 div.list3-btn {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 7px;
  background-color: #55c891;
  cursor: pointer;
  color: #fff;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list4 div button {
  width: 100px;
  height: 40px;
  font-size: 24px;
  background-color: #55c891;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list5 {
  width: 300px;
  height: 270px;
  text-align: center;
  margin-left: 15px;
  background-color: #f5f5f5;
  position: relative;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list5 > .poster {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list5 > .poster > img {
  width: 100%;
  position: relative;
  margin: 0;
  left: 0;
  top: 0;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list5 > div {
  width: 100%;
  height: 70%;
  position: relative;
  cursor: pointer;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list5 > div img {
  position: absolute;
  top: 65%;
  margin-top: -50px;
  left: 50%;
  margin-left: -40px;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list5 span {
  display: block;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list4 div {
  margin: 30px 0 0 30px;
}
#con-wrap .row .con-right .right-list5 .other .layui-form .form-list4 div button {
  width: 125px;
  height: 40px;
  font-size: 24px;
  background-color: #55c891;
}
.wrap-list2 {
  padding-bottom: 40px;
}
.wrap {
  width: 96%;
  margin: 0 auto;
}
.layui-textarea {
  resize: none!important;
}
.list4-d6 {
  margin-bottom: 20px;
}
.list4-d6 .save {
  width: 180px;
  height: 60px;
  color: white;
  font-size: 24px;
  background-color: #55c891;
  display: block;
  margin: 0 auto;
}
#con-wrap .row .con-right .right-list5 .chinese .layui-form .form-list3 div.list3-btn {
  position: absolute;
  right: -15px;
  top: 0;
  width: 96px;
  height: 100%;
  padding: 0;
  text-align: center;
  line-height: 37px;
  background-color: #55c891;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}
#con-wrap .row .con-right .right-list5 .chinese .layui-form .form-list4 div button {
  width: 146px;
  height: 50px;
}
.ziliao{
	font-size: 16px;
}
#upImg1 span{
	font-size: 16px;
}
