#con-wrap{
  .row{
    .con-right{
      .right-wrap{
        .wrap-list1{
          .list1-top{
            color: #55c891;
            font-size: 18px;
            border-bottom: 5px solid #55c891;
            position: relative;
            .l1top2{
              text-align: right;
              font-size: 14px;
              padding: 5px;
            }
            .sanjiao{
              padding: 0;
              margin: 0;
              border: 7px solid transparent;
              border-bottom: 7px solid #55c891;
              width: 7px;
              position: absolute;
              left: 20px;
              bottom: 0;
            }
          }
          .list1-middle{
            position: relative;
            margin: 15px 0px;
            border-bottom: 1px dotted #eeeeee;
            .l1mid1{
              display: inline-block;
              font-size: 18px;
              margin: 20px;
              .fen{
                color: #ff6d00;
                font-size: 30px;
              }
            }
            .l1mid2{
              background-color: #55c891;
              width: 20%;
              font-size: 18px;
              color: #fff;
              padding: 10px;
              float: right;
              margin: 30px 30px;
              text-align: center;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              cursor: pointer;
            }
          }
          .list1-bottom{
            color: #55c891;
            font-size: 18px;
            border-bottom: 5px solid #55c891;
            position: relative;
            .l1top2{
              text-align: right;
              font-size: 14px;
              padding: 5px;
            }
            .sanjiao{
              padding: 0;
              margin: 0;
              border: 7px solid transparent;
              border-bottom: 7px solid #55c891;
              width: 7px;
              position: absolute;
              left: 20px;
              bottom: 0;
            }
            :first-child{
              margin: 0 0 27px 0;
            }

          }
        }
        .wrap-list2{
          table{
            margin-top: 20px;
            thead{
              th{
                font-size: 14px;
                color: #a1a1a1;
              }
            }
            th{
              text-align: center;
              font-size: 14px;
              color: #a1a1a1;
            }
          }
        }
      }
    }
  }
}