body {
  background: #f7f6f6; }

header .banner img {
  width: 100%; }
header .banner .bannerIntro {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 27%; }
  header .banner .bannerIntro .biIn {
    width: 100%;
    height: 260px;
    background-color: rgba(255, 255, 255, 0.18);
    text-align: center;
    color: white; }
    header .banner .bannerIntro .biIn p {
      width: 88%;
      margin: 0 auto; }
    header .banner .bannerIntro .biIn .biiTitle {
      font-size: 36px;
      font-weight: bold;
      line-height: 114px;
      padding-top: 16px; }
    header .banner .bannerIntro .biIn .biiContent {
      font-size: 18px;
      line-height: 36px; }

section .typeBox {
  width: 100%;
  margin: 34px 0;
  height: 144px;
  overflow: hidden;
  position: relative; }
  section .typeBox .typeBoxIn {
    width: 100%; }
    section .typeBox .typeBoxIn button {
      width: 13%;
      margin-right: 3%;
      height: 55px;
      display: block;
      color: #979797;
      font-weight: lighter;
      font-size: 18px;
      border: 1px solid #d5d5d5;
      border-radius: 5px;
      background: transparent;
      margin-bottom: 34px; }
    section .typeBox .typeBoxIn .hasBtn {
      background-color: #55c891;
      border-color: #55c891;
      color: white; }
    section .typeBox .typeBoxIn a {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 18px;
      color: #55c891; }
section .bourn .bournTitle {
  width: 100%;
  padding: 0px 0px 16px 0;
  border-bottom: 1px solid #d2d2d2; }
section .bourn p {
  font-size: 30px;
  color: #151515;
  text-indent: 20px;
  border-left: 3px solid #55c891; }
  section .bourn p span {
    display: inline-block;
    font-size: 24px;
    color: #55c891;
    margin-left: 50px; }

.sc-list2 .list2-col {
  position: relative;
  padding-left: 30px;
  padding-right: 10px;
  margin-top: 20px; }

.sc-list2 .list2-img {
  width: 100%; }

.sc-list2 .list2-wrap {
  background-color: #fff;
  padding: 1px;
  cursor: pointer; }

.sc-list2 .list2-wrap .list2-name {
  display: block;
  font-size: 25.26px;
  margin: 10px 10px;
  color: #333; }

.sc-list2 .list2-wrap .list2-bottom {
  font-size: 17.49px;
  padding: 10px 10px; }

.sc-list2 .list2-wrap .list2-bottom div {
  display: inline-block; }

.sc-list2 .list2-wrap .list2-bottom img {
  display: inline; }

.sc-list2 .list2-wrap .list2-bottom .l2-bt-right {
  float: right; }

.sc-list2 .cebian {
  position: absolute;
  top: 60px;
  left: 12px; }

.sc-list2 .cebian span {
  display: block;
  margin: -53px 0 0 9px;
  font-size: 23.32px;
  color: #fff;
  text-shadow: 1px 1px #383d4b; }

.sc-list2 .topRight {
  position: absolute;
  top: 0;
  right: 15px; }

header .whiteNavLong.container .logo {
  margin-left: -2.8%; }

header .whiteNavLong.container .nav {
  margin-right: 0; }

header .whiteNavLong.container .nav ul li .pCenter {
  margin-right: -15px; }

.moreType {
  padding: 0 25px;
  background-color: white;
  border: 1px solid #efefef; }
  .moreType .row {
    border-bottom: 1px dashed #ebebeb; }
  .moreType .row:nth-last-child(1) {
    border: 0px; }
  .moreType .row1 {
    height: 46px;
    overflow: hidden; }
  .moreType .col-title {
    line-height: 52px;
    font-size: 16px;
    color: #5c5c5c; }
  .moreType p {
    font-size: 14px;
    color: #848484;
    line-height: 46px;
    font-weight: lighter; }
  .moreType a {
    line-height: 46px;
    font-size: 14px;
    color: #444444;
    margin-right: 30px; }
  .moreType .ahasChoice {
    color: #55c891; }
  .moreType button {
    display: block;
    height: 46px;
    color: #55c891;
    font-size: 14px;
    font-weight: lighter;
    background: transparent; }
  .moreType button.floatl {
    height: 28px;
    color: #9b9b9b;
    border: 1px solid #ababab;
    border-radius: 4px;
    padding: 0 12px;
    margin: 12px 12px 12px 0; }
  .moreType button.btnHas {
    background-color: #55c891;
    color: white;
    border-color: #55C891; }

#tourDetails {
  margin-top: 40px; }

.yearMonth {
  margin: 5px auto 40px;
  background-color: white;
  border: 1px solid #efefef; }
  .yearMonth a {
    line-height: 42px;
    margin: 10px 30px 10px 0;
    display: block;
    color: #363636;
    font-size: 14px;
    font-weight: lighter; }
  .yearMonth .aChoice {
    color: #55c891; }
  .yearMonth .layui-form-item {
    margin-bottom: 0px; }
  .yearMonth .layui-form-label {
    float: left;
    display: block;
    padding: 0;
    line-height: 62px;
    width: 50px;
    font-weight: lighter;
    color: #9b9b9b;
    margin-bottom: 0px;
    margin-left: 15px;
    font-size: 14px;
    text-align: left; }
  .yearMonth .layui-input-block {
    margin-left: 70px;
    min-height: 36px;
    padding-top: 18px; }
  .yearMonth .layui-input {
    height: 28px; }

#touristIndex {
  margin-top: 50px; }

header .banner .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  border: 2px solid #eef1f3;
  background-color: transparent; }
header .banner .swiper-pagination-bullet-active {
  background-color: #eef1f3; }
header .banner .swiper-container-horizontal > .swiper-pagination-bullets,
header .banner .swiper-pagination-custom,
header .banner .swiper-pagination-fraction {
  bottom: 10%; }

header .banner .bannerIntro1 {
  top: 26%;
  bottom: auto;
  z-index: 10; }
  header .banner .bannerIntro1 .biIn {
    width: 675px;
    margin: 0 auto;
    height: auto;
    padding-bottom: 30px; }
  header .banner .bannerIntro1 .biIn .biiTitle {
    font-size: 36px;
    font-weight: bold;
    line-height: 80px; }
  header .banner .bannerIntro1 .biIn .biiContent {
    line-height: 40px; }

.threeChoice {
  margin-top: 40px;
  width: 100%; }
  .threeChoice .tcTop {
    background-color: rgba(255, 255, 255, 0.66); }
    .threeChoice .tcTop > div {
      text-align: center;
      display: block;
      width: 33.33%;
      cursor: pointer;
      cursor: -ms-pointer;
      line-height: 75px;
      font-size: 22px;
      color: #1d1d1d;
      position: relative; }
      .threeChoice .tcTop > div span {
        position: relative; }
      .threeChoice .tcTop > div span::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 14px;
        height: 14px;
        margin-top: -7px;
        right: -25px;
        background: url(../img/tourist03.png) no-repeat left top;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%; }
    .threeChoice .tcTop > div::after {
      content: "";
      position: absolute;
      top: 50%;
      height: 54px;
      margin-top: -27px;
      right: 0px;
      border-right: 1px solid #b5b5b5; }
    .threeChoice .tcTop > div:nth-last-child(1)::after {
      border: 0; }
    .threeChoice .tcTop > div:nth-last-child(2)::after {
      border: 0; }

.tcBottom {
  width: 100%;
  background-color: #fbfbfb; }
  .tcBottom .tcbTitle {
    width: 92%;
    margin: 0 auto;
    font-size: 24px;
    color: #212121;
    line-height: 64px;
    padding-top: 16px;
    border-bottom: 1px dashed #dcdcdc; }
  .tcBottom .tcbBtn {
    width: 92%;
    margin: 30px auto 0; }
    .tcBottom .tcbBtn button {
      width: 18%;
      border: 1px solid #d5d5d5;
      border-radius: 5px;
      height: 53px;
      display: block;
      color: 979797;
      font-size: 18px;
      font-weight: lighter;
      background-color: transparent;
      margin-bottom: 30px;
      margin-right: 2.5%; }
    .tcBottom .tcbBtn button:nth-child(5n) {
      margin-right: 0; }
    .tcBottom .tcbBtn .btnHas {
      background-color: #55c891;
      color: white;
      border-color: #55c891; }
  .tcBottom .tcBottom {
    background: url(); }
  .tcBottom .tcb02 .tcbBtn, .tcBottom .tcb03 .tcbBtn {
    margin-top: 50px; }
  .tcBottom .tcb02 .tcbBtn button, .tcBottom .tcb03 .tcbBtn button {
    margin-bottom: 50px; }

@media (max-width: 1660px) {
  header .banner .bannerIntro1 .biIn .biiTitle {
    font-size: 28px;
    font-weight: bold;
    line-height: 50px; }

  header .banner .bannerIntro .biIn .biiContent {
    font-size: 16px;
    line-height: 32px; }

  .threeChoice {
    margin-top: 20px;
    width: 100%; }

  .threeChoice .tcTop > div {
    font-size: 18px;
    line-height: 60px; }

  .tcBottom .tcbTitle {
    line-height: 50px;
    padding-top: 8px;
    font-size: 20px; }

  .tcBottom .tcbBtn button {
    margin-bottom: 20px;
    height: 50px; }

  .tcBottom .tcbBtn {
    width: 92%;
    margin: 20px auto 0; }

  .tcBottom .tcb02 .tcbBtn, .tcBottom .tcb03 .tcbBtn {
    margin-top: 40px; }

  .tcBottom .tcb02 .tcbBtn button, .tcBottom .tcb03 .tcbBtn button {
    margin-bottom: 40px; } }
@media (max-width: 1365px) {
  header .banner .bannerIntro1 .biIn .biiTitle {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px; }

  header .banner .bannerIntro .biIn .biiContent {
    font-size: 14px;
    line-height: 30px; }

  header .banner .bannerIntro1 .biIn {
    padding-bottom: 22px; }

  .tcBottom .tcbBtn button {
    margin-bottom: 20px;
    height: 46px; } }

/*# sourceMappingURL=tourist.css.map */
